@page "/login"
@using Authentication.Web.ApiServices
@inject AuthenticationService AuthenticationService
@inject NavigationManager Navigation

<h3>Login</h3>

<EditForm Model="loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="username">Username:</label>
        <InputText id="username" @bind-Value="loginModel.Username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <InputText id="password" @bind-Value="loginModel.Password" type="password" />
    </div>
    <button type="submit">Login</button>
</EditForm>

@code {
    private LoginModel loginModel = new LoginModel();

    private async Task HandleLogin()
    {
        var success = await AuthenticationService.Login(loginModel.Username, loginModel.Password);
        if (success)
        {
            Navigation.NavigateTo("/");
        }
        else
        {
            // Manejar el error de login
        }
    }

    public class LoginModel
    {
        public string Username { get; set; }
        public string Password { get; set; }
    }
}

